/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap'); */

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ubuntu-v20-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v20-latin-700.woff2') format('woff2');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-light-color: hwb(0 96% 4%);
  --body-color: rgb(35, 35, 35);
  --body-border-color: #666666;
  --text-color: #FFFFFF;
  --project-heading-border-color: yellow;
  --project-heading-color: blue;
  --project-hover-color: gray;
  --body-btn-color: #000000;
  --body-btn-border-color: #FFFFFF;
  --skill1-level-background-color: #ff4f4f28;
  --skill1-level-color: blueviolet;
  --skill2-level-background-color: #4fa0ff28;
  --skill2-level-color: rgb(35, 33, 35);
  --skill3-level-background-color: #ffed4f28;
  --skill3-level-color: gray;
  --skill4-level-background-color: #52ff4f28;
  --skill4-level-color: #137411;
  --skill5-level-background-color: #4fdfff28;
  --skill5-level-color: hsl(339, 100%, 65%);
  --skill6-level-background-color: #4fdfff28;
  --skill6-level-color: hsl(197, 84%, 51%);
  --timeline-card-color: rgb(185, 177, 177);
  --timeline-before-border-color: #191919;
  --timeline-after-color: #FFFFFF;
  --timeline-card2-color: #5C5C00;
  --timeline-card3-color: #754B00;
  --timeline-card4-color: #005200;
  --timeline-card5-color: #4F4F4F;
  --timeline-card6-color: #2424FF;
  --contact-form-color: rgba(255, 255, 255, 0.2);
  --contact-form-btn-color: #B30000;
  --contact-form-btn-hover-color: green;
}

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: var(--text-color);
  font-weight: 300;
  background: var(--body-light-color);
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 9;
  background: var(--body-light-color);
  cursor: pointer;
  padding: 0;
}

.link-group {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.link a {
  background: var(--body-color);
  color: var(--text-color);
  opacity: 0.75;
  text-decoration: none;
  text-transform: capitalize;
  border: 5px solid var(--body-border-color);
  border-radius: 10px 25px 25px 25px;
  padding: 10px 30px;
  margin: 0 20px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: 500;
  line-height: 4;
}

.link a:hover,
.link.active a {
  font-weight: 700;
  opacity: 1;
  text-decoration: underline;
}

/* home section */
.home-section {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 20px 150px;
  display: flex;
  align-items: center;
  position: fixed;
  background: var(--body-color);
  opacity: 0;
  transition: 1s;
  border: 5px solid var(--body-border-color);
  border-radius: 10px 25px 25px 25px;
}

.hero-heading {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  font-size: 8vw;
  top: 75%;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.home-img {
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 100%;
  width: 50%;
  object-fit: cover;
  opacity: 0.2;
  border-left: 5px solid var(--body-border-color);
}

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}

/* project-section */
.project-section {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 40px 100px 80px;
  background: var(--body-color);
  position: fixed;
  top: 0;
  transition: opacity 1s;
  opacity: 0;
  border: 5px solid var(--body-border-color);
  border-radius: 10px 25px 25px 25px;
}

.project-heading {
  font-size: 100px;
  background: var(--project-heading-border-color);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: var(--project-heading-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.project-card {
  height: 400px;
  position: relative;
  touch-action: manipulation;
}

.project-img {
  width: 100%;
  height: 100%;
  border-radius: 10px 25px 25px 25px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
  border: 5px solid var(--body-border-color);
}

.project-content {
  position: relative;
  visibility: hidden;
  padding: 40px 20px;
  opacity: 0;
  height: 70%;
  touch-action: auto;
  overflow: auto;
}

.project-content.visible {
  visibility: visible;
  opacity: 1;
}

.project-title {
  font-size: 50px;
  line-height: 1.75;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  text-shadow: -0.75px 0 black, 0 0.75px black, 0.75px 0 black, 0 -0.75px black;
  margin: 0;
  padding: 0;
}


.project-info {
  padding: 20px 15px 40px 15px;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.project-btn-grp {
  position: absolute;
  bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  left: 80px;
  right: 80px;
  justify-content: center;
  touch-action: auto;
  visibility: hidden;
  transition: visibility 0.5s;
}

.project-card:hover .project-content,
.project-card:hover .project-btn-grp {
  visibility: visible;
}

.project-btn-grp.visible {
  visibility: visible;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  border-radius: 10px 25px 25px 25px;;
  background: var(--body-btn-color);
  color: var(--text-color);
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 2px solid var(--body-btn-border-color);
}

.project-btn:hover {
  background: var(--project-hover-color);
}

.project-card:hover .project-img {
  filter: blur(20px);
}

.project-card:hover .project-content {
  opacity: 1;
}

.hidden {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.pagination-btn-grp {
  display: grid;
  grid-template-columns: 150px 40px 150px;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.pagination-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  border-radius: 10px 25px 25px 25px;
  background: var(--body-btn-color);
  color: var(--text-color);
  cursor: pointer;
}

.pagination-btn.Next {
  background: none;
  border: 2px solid var(--body-btn-border-color);
}

.pagination-btn:hover {
  background: var(--project-hover-color);
}

.pagination-btn-nb {
  margin: 0 10px;
  font-size: 20px;
  color: var(--text-color);
}

/* about-section */
.about-section {
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 80px 100px 40px;
  background: var(--body-color);
  position: fixed;
  top: 0;
  opacity: 0;
  transition: 1s;
  border: 5px solid var(--body-border-color);
  border-radius: 10px 25px 25px 25px;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 65%;
  grid-gap: 40px;

}

.about-img-container {
  position: relative;
  height: 100%;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 25px 25px 25px;
}

.download-cv-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  color: var(--text-color);
  border: none;
  border-radius: 10px 25px 25px 25px;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  background: var(--body-btn-color);
}

.download-cv-btn:hover {
  background: var(--project-hover-color);
}

.about-info {
  height: 650px;
  overflow: auto;
  color: var(--text-color);
  opacity: 0.6;
  font-size: 20px;
  line-height: 2;
}

/* skills */
.skill-section {
  position: relative;
  margin: 100px 0;
}

.heading {
  text-align: center;
  font-size: 60px;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}

.skills-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 80px;
  color: var(--text-color);
}

.skill-card {
  position: relative;
}

.skill-img-container {
  position: relative;
}

.download-sr-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  color: var(--text-color);
  border: none;
  border-radius: 10px 25px 25px 25px;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  background: var(--body-btn-color);
}

.download-sr-btn:hover {
  background: var(--project-hover-color);
}

.skill-img {
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  border-radius: 10px 25px 25px 25px;
  border: 5px solid var(--body-border-color);
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.75;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: start;
  opacity: 0.5;
  font-size: 18px;
  line-height: 1.5;
}

.skill-level {
  position: absolute;
  top: 10px;
  right: 0;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 2;
  border-radius: 50%;
  border: 9px solid;
}

.skill-card:nth-child(1) .skill-level {
  background: var(--skill1-level-background-color);
  border-color: var(--skill1-level-color);
  color: var(--skill1-level-color);
}

.skill-card:nth-child(2) .skill-level {
  background: var(--skill2-level-background-color);
  border-color: var(--skill2-level-color);
  color: var(--skill2-level-color);
}

.skill-card:nth-child(3) .skill-level {
  background: var(--skill3-level-background-color);
  border-color: var(--skill3-level-color);
  color: var(--skill3-level-color);
}

.skill-card:nth-child(4) .skill-level {
  background: var(--skill4-level-background-color);
  border-color: var(--skill4-level-color);
  color: var(--skill4-level-color);
}

.skill-card:nth-child(5) .skill-level {
  background: var(--skill5-level-background-color);
  border-color: var(--skill5-level-color);
  color: var(--skill5-level-color);
}

.skill-card:nth-child(6) .skill-level {
  background: var(--skill6-level-background-color);
  border-color: var(--skill6-level-color);
  color: var(--skill6-level-color);
}

/* timeline */
.timeline {
  display: block;
  width: 80%;
  margin: 150px auto;
}

.timeline .heading {
  margin-bottom: 150px;
}

.card {
  width: 45%;
  height: 250px;
  padding: 20px;
  border-radius: 10px 25px 25px 25px;
  color: var(--text-color);
  display: block;
  margin: -80px 0;
  position: relative;
  background: var(--timeline-card-color);
  border: 5px solid var(--body-border-color);
}

.card:nth-child(even) {
  margin-left: auto;
}

.card:nth-child(even):before {
  content: "";
  position: absolute;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid var(--body-border-color);
  border-radius: 50%;
}

.card:nth-child(even):after {
  content: "";
  position: absolute;
  left: -8.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: var(--body-border-color);
  z-index: -1;
}

.card:nth-child(odd):before {
  content: "";
  position: absolute;
  right: -15%;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid var(--body-border-color);
  border-radius: 50%;
}

.card:nth-child(odd):after {
  content: "";
  position: absolute;
  right: -8%;
  top: 50%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background: var(--body-border-color);
  z-index: -1;
}

.card:nth-child(2),
.card:nth-child(2):before {
  background: var(--timeline-card2-color);
}

.card:nth-child(3),
.card:nth-child(3):before {
  background: var(--timeline-card3-color);
}

.card:nth-child(4),
.card:nth-child(4):before {
  background: var(--timeline-card4-color);
}

.card:nth-child(5),
.card:nth-child(5):before {
  background: var(--timeline-card5-color);
}

.card:nth-child(6),
.card:nth-child(6):before {
  background: var(--timeline-card6-color);
}

/* .card:nth-child(even) .card-body:before {
  content: "";
  position: absolute;
  left: -11%;
  top: 0;
  width: 0px;
  height: 100%;
  border: 1px dashed var(--timeline-after-color);
  z-index: -1;
} */

.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
}

.card-title-info {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.card-title-description {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
}

.card-title-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/* contact section */
.contact-section {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 1s;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 50px;
  background: var(--body-color);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  border: 5px solid var(--body-border-color);
  border-radius: 10px 25px 25px 25px;
}

.contact-list {
  width: 100%;
  list-style: none;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 20px;
}

.contact-list-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--body-border-color);
}

.tooltip {
  position: absolute;
  display: none;
  background-color: none;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.contact-list-icon:hover .tooltip {
  display: block;
  color: var(--text-color);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 40px;
  color: var(--text-color);
  background: var(--contact-form-color);
  border: 5px solid var(--body-border-color);
  margin-bottom: 30px;
  border-radius: 10px 25px 25px 25px;
  padding: 5px 10px;
}

::placeholder {
  color: var(--text-color);
}

.contact-form-name {
  text-transform: capitalize;
}

.contact-form-email {
  text-transform: lowercase;
}

.contact-form-msq {
  text-transform: capitalize;
}

#msg {
  height: 100px;
  resize: none;
  font-family: sans-serif;
}

.form-submit-btn {
  background: var(--contact-form-btn-color);
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px 25px 25px 25px;
  cursor: pointer;
  color: var(--text-color);
  border: 5px solid var(--body-border-color);
}

.form-submit-btn:hover {
  background: var(--contact-form-btn-hover-color);
}

.map {
  width: 600px;
  height: 450px;
  padding: 5px;
  border: 2px solid var(--body-border-color);
  background: var(--body-border-color);
  border-radius: 10px 25px 25px 25px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.information {
  height: 100%;
  margin: auto;
}

.SinoptikInformer {
  padding-top: 20px;
  padding: 3px;
  border: 2px solid var(--body-border-color);
  background: var(--body-border-color);
  border-radius: 10px 25px 25px 25px;
}

.siHeader {
  border-radius: 0 20px 0 0;
}

.siBody {
  border-radius: 0 0 20px 20px;
}



@media (max-width: 1320px) {

  /* body */
  body {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* home */
  .home-section {
    padding: 0 125px;
    margin-bottom: 20px;
  }

  .home-heading {
    font-weight: 600;
  }

  .home-img {
    width: 60%;
  }

  /* project */
  .project-section {
    padding: 40px 90px 70px;
    margin-bottom: 20px;
  }

  .project-heading {
    font-size: 80px;
    margin-bottom: 40px;
  }

  .project-container {
    grid-gap: 70px;
  }

  .project-card {
    height: 350px;
  }

  .project-content {
    padding: 35px 15px;
  }

  .project-title {
    font-size: 45px;
    line-height: 1.5;
  }

  .project-info {
    padding: 15px 10px 30px 10px;
    font-size: 20px;
    line-height: 1.25;
  }

  .project-btn-grp {
    left: 70px;
    right: 70px;
  }

  .pagination {
    margin-top: 70px;
  }

  .pagination-btn-grp {
    grid-template-columns: 140px 40px 140px;
  }

  /* about */
  .about-section {
    padding: 90px 90px 70px;
    margin-bottom: 20px;
  }

  .about-info {
    line-height: 1.75;
  }

  /* skill */
  .skill-section {
    margin: 90px 0;
  }

  .heading {
    font-size: 55px;
    margin-bottom: 90px;
  }

  .skills-container {
    grid-gap: 70px;
  }


  .skill-name {
    font-size: 30px;
    line-height: 1.5;
    margin: 25px 0 15px;
  }

  .skill-info {
    font-size: 18px;
    line-height: 1.25;
  }

  .skill-level {
    width: 85px;
    height: 85px;
    font-size: 22px;
    line-height: 1.75;
    border: 8px solid;
  }

  /* timeline */
  .timeline {
    margin: 140px auto;
  }

  .timeline .heading {
    margin-bottom: 140px;
  }

  .card {
    height: 270px;
    padding: 15px;
  }

  /* contact */
  .contact-section {
    padding: 55px 50px;
    margin-bottom: 20px;
    grid-gap: 45px;
  }

  .contact-list {
    height: 70px;
  }

  .contact-list-icon {
    padding-right: 25px;
  }

  .contact-list-logo {
    width: 50px;
    height: 50px;
  }

  .map {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 1140px) {

  /* navbar */
  .navbar {
    height: 70px;
  }

  .link a {
    padding: 8px 25px;
    margin: 0 18px;
    font-size: 18px;
    font-weight: 400;
    line-height: 3.5;
    border: 4px solid var(--body-border-color);
  }

  /* home */
  .home-section {
    margin-top: 85px;
    margin-bottom: 90px;
    padding: 20px 100px;
    border: 4px solid var(--body-border-color);
  }

  .home-heading {
    font-size: 80px;
    font-weight: 500;
  }

  .home-img {
    width: 70%;
    border-left: 4px solid var(--body-border-color);
  }

  /* project */
  .project-section {
    margin-top: 85px;
    margin-bottom: 90px;
    padding: 30px 75px;
    border: 4px solid var(--body-border-color);
  }

  .project-heading {
    font-size: 70px;
    margin-bottom: 30px;
  }

  .project-container {
    grid-gap: 60px;
  }

  .project-card {
    height: 320px;
  }

  .project-img {
    border: 4px solid var(--body-border-color);
  }

  .project-content {
    padding: 30px 15px;
  }

  .project-title {
    font-size: 40px;
    line-height: 1.25;
  }

  .project-info {
    padding: 10px;
    font-size: 18px;
    line-height: 1;
  }

  .project-btn-grp {
    grid-gap: 18px;
    left: 55px;
    right: 55px;
  }

  .project-btn {
    height: 35px;
    font-size: 16px;
  }

  .pagination {
    margin-top: 60px;
  }

  .pagination-btn-grp {
    grid-gap: 18px;
    grid-template-columns: 130px 35px 130px;
  }

  .pagination-btn {
    height: 35px;
    font-size: 16px;
  }

  .pagination-btn-nb {
    font-size: 18px;
  }

  /* about */
  .about-section {
    margin-top: 85px;
    margin-bottom: 90px;
    padding: 70px 70px 30px;
    border: 4px solid var(--body-border-color);
  }

  .about-info {
    height: 550px;
    font-size: 18px;
    line-height: 1.75;
  }

  .download-cv-btn {
    bottom: 16px;
    font-size: 14px;
  }

  /* skill */
  .skill-section {
    margin: 75px 0;
  }

  .heading {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .skills-container {
    grid-gap: 55px;
  }

  .download-sr-btn {
    font-size: 14px;
  }

  .skill-img {
    border: 4px solid var(--body-border-color);
  }

  .skill-name {
    font-size: 25px;
    margin: 20px 0 10px;
  }

  .skill-info {
    font-size: 16px;
    line-height: 1.25;
  }

  .skill-level {
    width: 80px;
    height: 80px;
    font-size: 20px;
    border: 7px solid;
  }


  /* timeline */
  .timeline {
    margin: 120px auto;
  }

  .timeline .heading {
    margin-bottom: 120px;
  }

  .card {
    height: 260px;
    padding: 10px;
    border: 4px solid var(--body-border-color);
  }

  .card-body {
    padding: 10px;
  }

  .card-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 6px;
  }

  .card-title-info {
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 6px;
  }

  .card-title-description {
    font-size: 18px;
    padding-bottom: 4px;
  }

  .card-title-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
  }

  .card:nth-child(even):before {
    border: 4px solid var(--body-border-color);
  }

  .card:nth-child(odd):before {
    border: 4px solid var(--body-border-color);
  }


  /* contact */
  .contact-section {
    margin-top: 85px;
    margin-bottom: 90px;
    padding: 40px 45px;
    grid-gap: 40px;
    border: 4px solid var(--body-border-color);
  }

  .contact-list {
    height: 70px;
  }

  .contact-list-icon {
    padding-right: 18px;
  }

  .contact-list-logo {
    width: 48px;
    height: 48px;
    border: 4px solid var(--body-border-color);
  }

  .contact-form input,
  .contact-form textarea {
    border: 4px solid var(--body-border-color);
  }

  .map {
    width: 100%;
    height: 400px;
    padding: 4px;
  }

  .form-submit-btn {
    padding: 10px 30px;
    font-size: 14px;
    border: 4px solid var(--body-border-color);
  }
}

@media (max-width: 960px) {

  /* body */
  body {
    padding: 0 15px;
  }

  .link a {
    padding: 8px 25px;
    margin: 0 16px;
    font-size: 18px;
    line-height: 3;
    border: 3px solid var(--body-border-color);
  }

  /* home */
  .home-section {
    padding: 0 70px;
    margin-bottom: 15px;
    border: 3px solid var(--body-border-color);
  }

  .home-img {
    width: 80%;
    border-left: 3px solid var(--body-border-color);
  }

  /* project */
  .project-section {
    padding: 30px 75px;
    margin-bottom: 15px;
    border: 3px solid var(--body-border-color);
  }

  .project-heading {
    font-size: 55px;
    margin-bottom: 25px;
  }

  .project-container {
    grid-gap: 45px;
  }

  .project-card {
    height: 275px;
  }

  .project-img {
    border: 3px solid var(--body-border-color);
  }

  .project-content {
    padding: 20px 10px;
  }

  .project-title {
    font-size: 38px;
  }

  .project-info {
    padding: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }

  .project-btn-grp {
    grid-gap: 12px;
    left: 30px;
    right: 30px;
  }

  .project-btn {
    height: 25px;
    font-size: 14px;
  }

  .pagination {
    margin-top: 45px;
  }

  .pagination-btn-grp {
    grid-template-columns: 110px 20px 110px;
    grid-gap: 10px;
  }

  .pagination-btn {
    height: 25px;
    font-size: 14px;
  }

  .pagination-btn-nb {
    font-size: 14px;
    margin: 0 6px;
  }

  /* about */
  .about-section {
    padding: 50px 50px 40px;
    margin-bottom: 15px;
    border: 3px solid var(--body-border-color);
  }

  .about {
    grid-template-columns: 35% 60%;
    grid-gap: 30px;
  }

  .about-info {
    font-size: 16px;
    line-height: 1.5;
  }

  .download-cv-btn {
    bottom: 14px;
    font-size: 12px;
  }

  /* skill */
  .skill-section {
    margin: 50px auto;
  }

  .heading {
    font-size: 36px;
    margin-bottom: 60px;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
  }

  .download-sr-btn {
    font-size: 12px;
  }

  .skill-img {
    border: 3px solid var(--body-border-color);
  }

  .skill-name {
    font-size: 20px;
    margin: 18px 0 8px;
  }

  .skill-info {
    font-size: 16px;
    line-height: 1.25;
  }

  .skill-level {
    width: 85px;
    height: 85px;
    font-size: 16px;
    border: 8px solid;
  }

  /* timeline */
  .timeline {
    margin: 90px auto;
  }

  .timeline .heading {
    margin-bottom: 90px;
  }

  .card {
    height: 300px;
    padding: 8px;
    border: 3px solid var(--body-border-color);

  }

  .card-body {
    padding: 4px;
  }

  .card-title {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  .card-title-info {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  .card-title-description {
    font-size: 18px;
    padding-bottom: 2px;
  }

  .card-title-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
  }

  .card:nth-child(even):before {
    border: 3px solid var(--body-border-color);
  }

  .card:nth-child(odd):before {
    border: 3px solid var(--body-border-color);
  }

  /* contact */
  .contact-section {
    margin-top: 75px;
    margin-bottom: 10px;
    padding: 60px 80px 65px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    border: 3px solid var(--body-border-color);
  }

  .contact-list {
    height: 70px;
  }

  .contact-list-icon {
    padding-right: 25px;
  }

  .contact-list-logo {
    width: 48px;
    height: 48px;
    border: 3px solid var(--body-border-color);
  }

  .contact-form input,
  .contact-form textarea {
    border: 3px solid var(--body-border-color);
  }

  .form-submit-btn {
    padding: 8px 25px;
  }

  .map {
    width: 100%;
    height: 400px;
  }

  .SinoptikInformer {
    padding: 2px;
  }
}

@media (max-width: 720px) {

  /* body */
  body {
    padding: 0 10px;
  }

  /* navbar */
  .navbar {
    height: 65px;
  }

  .link a {
    padding: 5px 10px;
    margin: 0 16px;
    font-size: 16px;
    line-height: 3;
    border: 2px solid var(--body-border-color);
  }

  /* home */
  .home-section {
    margin-top: 75px;
    margin-bottom: 10px;
    padding: 0 50px;
    border: 2px solid var(--body-border-color);
  }

  .home-img {
    width: 85%;
    border-left: 2px solid var(--body-border-color);
  }

  /* project */
  .project-section {
    margin-top: 75px;
    margin-bottom: 10px;
    padding: 30px 50px 30px;
    border: 2px solid var(--body-border-color);
  }

  .project-heading {
    font-size: 38px;
    margin-bottom: 25px;
  }

  .project-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }

  .project-img {
    border: 2px solid var(--body-border-color);
  }

  .project-content {
    padding: 15px 5px;
  }

  .project-title {
    font-size: 40px;
  }

  .project-btn {
    height: 30px;
    font-size: 16px;
  }

  .pagination {
    margin-top: 20px;
  }

  .pagination-btn {
    height: 30px;
    font-size: 16px;
  }

  .pagination-btn-nb {
    font-size: 16px;
  }

  /* about */
  .about-section {
    margin-top: 75px;
    margin-bottom: 10px;
    padding: 45px;
    border: 2px solid var(--body-border-color);
  }

  .about {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-info {
    height: 400px;
    font-size: 18px;
  }

  .download-cv-btn {
    bottom: 25px;
    font-size: 16px;
  }

  /* skill */
  .skill-section {
    margin: 70px auto;
  }

  .heading {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .skills-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }

  .download-sr-btn {
    font-size: 16px;
  }

  .skill-img {
    border: 2px solid var(--body-border-color);
  }

  .skill-name {
    font-size: 25px;
    margin: 20px 0 10px;
  }

  .skill-info {
    font-size: 18px;
    line-height: 1.25;
  }

  .skill-level {
    width: 20vw;
    height: 20dvw;
    font-size: 20px;
    border: 10px solid;
  }

  /* timeline */
  .timeline {
    margin: 70px auto;
  }

  .timeline .heading {
    margin-bottom: 60px;
    font-size: 36px;
  }

  .card {
    width: 100%;
    height: 200px;
    margin: 20px auto;
    padding: 5px;
    border: 2px solid var(--body-border-color);
  }

  .card:nth-child(even),
  .card:nth-child(odd) {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .card:before {
    content: "";
    top: 10px;
    left: -10%;
  }

  .card:nth-child(even):before {
    left: -10%;
  }

  .card:after {
    top: 10px;
    left: -6%;
  }

    .card:nth-child(even):after {
      left: -6%;
    }


  .card-body {
    padding: 8px;
  }

  .card-title {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 2px;
  }

  .card-title-info {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 2px;
  }

  .card-title-description {
    font-weight: 500;
    line-height: 1.25;
    padding-bottom: 2px;
  }

  .card-title-text {
    line-height: 1.25;
  }

  .card:nth-child(even):before {
    border: 2px solid var(--body-border-color);
  }

  .card:nth-child(odd):before {
    border: 2px solid var(--body-border-color);
  }

  /* contact */
  .contact-section {
    padding: 50px 30px;
    border: 2px solid var(--body-border-color);
  }

  .contact-list-logo {
    border: 2px solid var(--body-border-color);
  }

  .contact-form input,
  .contact-form textarea {
    border: 2px solid var(--body-border-color);
  }

  .form-submit-btn {
    border: 2px solid var(--body-border-color);
  }

  .map {
    padding: 2px;
  }

  .SinoptikInformer {
    padding: 1px;
  }
}


@media (max-width: 550px) {

  /* navbar */
  .navbar {
    height: 60px;
  }

  .link a {
    padding: 4px 8px;
    margin: 0 8px;
    font-size: 14px;
    line-height: 2;
  }

  /* home */
  .home-section {
    padding: 0 20px;
  }

  .home-img {
    width: 80%;
  }

  /* project */
  .project-section {
    padding: 30px 40px 30px;
  }

  .project-heading {
    font-size: 35px;
  }

  .project-card {
    height: 230px;
  }

  .project-btn {
    height: 25px;
    font-size: 14px;
  }

  .pagination {
    margin-top: 30px;
  }

  .pagination-btn-grp {
    grid-template-columns: 110px 20px 110px;
    grid-gap: 10px;
  }

  .pagination-btn {
    height: 25px;
    font-size: 14px;
  }

  .pagination-btn-nb {
    font-size: 14px;
    margin: 0 6px;
  }

  /* about */
  .about-section {
    padding: 35px;
  }

  .about-info {
    font-size: 16px;
    line-height: 1.5;
  }

  .download-cv-btn {
    bottom: 20px;
    font-size: 14px;
  }

  /* skill */
  .skill-section {
    margin: 60px auto;
  }

  .skill-level {
    width: 85px;
    height: 85px;
    font-size: 16px;
    border: 8px solid;
  }

  /* timeline */
  .timeline {
    margin: 40px auto;
  }

  .card {
    height: 260px;
  }

  /* contact */
  .contact-section {
    padding: 30px 10px;
    grid-gap: 30px;
  }



  .contact-list-icon {
    padding-right: 15px;

  }

  .contact-list-logo {
    width: 35px;
    height: 35px;
  }

  .SinoptikInformer * {
    font-size: 12px;
  }

  .SinoptikInformer .siHeader .siMh {
    font-size: 12px;
  }

}

@media (min-width: 450px) {
  body {
    max-width: 1400px;
  }


}